{erl_opts, [debug_info]}.
{cover_enabled, true}.
{plugins, [
    {rebar3_codecov, "0.3.0"}
]}.
{project_plugins, [erlfmt]}.
{minimum_otp_vsn, "24.0"}.
{deps, []}.

{overrides, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [bech32]},
    {config, "sys.config"}
]}.

{provider_hooks, [
    {post, [{ct, {codecov, analyze}}]},
    {post, [{eunit, {codecov, analyze}}]}
]}.
